@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #f7f7f7;
  min-height: 100vh;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 10;
  letter-spacing: 2px;
  padding: 20px;
  width: 100vw;
  background-color: rgb(255 255 255 /50%);
}

.container1 {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-text {
  margin-right: 25px;
  font-size: 30px;
  color: #85586f;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

.nav-link {
  margin-right: 12px;
  font-size: 24px;
  color: rgb(255, 92, 92);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

.project-container {
  display: flex;
}

.profile-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(66, 66, 66, 0.7);
  border-radius: 10px;
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  background: rgb(255, 255, 255);
  margin-right: 25px;
}

.image-container {
  border: 1px solid rgba(66, 66, 66, 0.7);
  border-radius: 10px;
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  background: rgb(255, 255, 255);
  margin-right: 25px;
  width: auto;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgba(66, 66, 66, 0.7);
  border-radius: 10px;
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  background: rgb(255, 255, 255);
  margin-right: 25px;
  width: 900px;
}

.contact-info {
  margin-left: 20px;
  font-size: 20px;
}

img {
  width: 300px;
  height: 300px;
}
